<launch>
  <arg name="initial_pose_x" default="0" />
  <arg name="initial_pose_y" default="0" />
  <arg name="initial_pose_a" default="0" />
  <arg name="map_dir" default="$(find oit_navigation_minibot_03)/maps" />
  <arg name="map_name" default="nakanosima10" />
  <arg name="map_path" default="$(arg map_dir)/$(arg map_name).yaml" />
  <arg name="rviz_conf" default="$(find oit_navigation_minibot_03)/config/rviz/navigation.rviz" />

  <include file="$(find oit_navigation_minibot_03)/launch/simulation/base.launch">
    <arg name="map_dir" value="$(arg map_dir)" />
    <arg name="map_name" value="$(arg map_name)" />
  </include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)" respawn="false" />
  <include file="$(find oit_navigation_minibot_03)/launch/includes/amcl.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>
  <include file="$(find oit_navigation_minibot_03)/launch/includes/move_base/move_base.xml"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" required="true" />
</launch>
