<launch>
  <arg name="bag" default="" />
  <arg name="bag_path" default="$(find oit_navigation_minibot_03)/bags/$(arg bag)" />
  <arg name="rate" default="1.0" />
  <arg name="rviz_conf" default="$(find oit_navigation_minibot_03)/config/rviz/simple.rviz" />
  <arg name="rviz_required" default="true" />
  <arg name="robot_model" default="$(find oit_navigation_minibot_03)/urdf/minibot_03.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot_model)" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" required="$(arg rviz_required)" />
  <node name="playbag" pkg="rosbag" type="play" args="--clock $(arg bag_path) -r $(arg rate)" required="true" />
</launch>
