<launch>
  <arg name="xmin" default="-5"/>
  <arg name="xmax" default="5"/>
  <arg name="ymin" default="-5"/>
  <arg name="ymax" default="5"/>
  <arg name="rosbag" default="false" />

  <include file="$(find oit_navigation_minibot_03)/launch/real/teleop.launch">
    <arg name="rviz_conf" value="$(find oit_navigation_minibot_03)/config/rviz/mapping.rviz" />
  </include>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="scan" to="base_scan" />
    <param name="xmin" value="$(arg xmin)" />
    <param name="xmax" value="$(arg xmax)" />
    <param name="ymin" value="$(arg ymin)" />
    <param name="ymax" value="$(arg ymax)" />
  </node>
  
  <include if="$(arg rosbag)" file="$(find oit_navigation_minibot_03)/launch/record_rosbag.launch" required="true"/>
</launch>
